@model ViewModels.AboutViewModel
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}

<div class="text-center about row">
    <div class="tab tablinks active" onclick="openCity(event, '@Model.AboutTexts.FirstOrDefault().Id')" id="defaultOpen">@Model.AboutTexts.FirstOrDefault().TitleSrt</div>
    @foreach (var text in Model.AboutTexts.Skip(1))
    {
        <div class="tab tablinks" onclick="openCity(event, '@text.Id')">@text.TitleSrt</div>
    }

</div>
<div>
    @foreach (var text in Model.AboutTexts)
    {
        <div id="@text.Id" class="tabcontent">
            <div class="profile-name">@text.TitleSrt</div>
            <div class="description">@Html.Raw(text.BodySrt)</div>
        </div>
    }
</div>
@section scripts{
    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
</script>}
